<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.server.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.server.entity.User">
        <id column="t_id" property="tId" />
        <result column="t_name" property="tName" />
        <result column="t_phone" property="tPhone" />
<!--        <result column="telephone" property="telephone" />-->
        <result column="t_address" property="tAddress" />
        <result column="t_enable" property="tEnable" />
        <result column="t_username" property="tUsername" />
        <result column="t_password" property="tPassword" />
        <result column="t_userFace" property="tUserFace" />
        <result column="t_remark" property="tRemark" />
    </resultMap>
    <resultMap id="AdminWithRole" type="com.zh.server.entity.User" extends="BaseResultMap">
        <collection property="roles" ofType="com.zh.server.entity.Role">
            <id column="rid" property="id" />
            <result column="rname" property="name" />
            <result column="rnameZh" property="nameZh" />
        </collection>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t_id, t_name, t_phone, t_address, t_enable, t_username, t_password, t_userFace, t_remark
    </sql>

    <!--获取所有操作员-->
    <select id="getAllAdmins" resultMap="AdminWithRole">
        select
        a.t_id,
        a.t_enable,
        a.t_name,
        a.t_address,
        a.t_phone,
        a.t_remark,
        a.t_userFace,
        a.t_username,
        r.id as rid,
        r.name as rname,
        r.nameZh as rnameZh
        from
        sys_user as a
        LEFT JOIN t_user_role as ar on a.t_id = ar.adminId
        LEFT JOIN t_role as r on ar.rid = r.id
        where 1=1
        <if test="null != keywords and '' != keywords">
            and a.t_name like concat('%',#{keywords},'%')
        </if>
        order by
        a.t_id
    </select>

</mapper>
