<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.server.mapper.yyb.PositionMapper">

    <select id="listALL" resultType="com.zh.server.entity.Position">
        select id,`name`,createDate,enabled
        from t_position
    </select>
</mapper>
